<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bulb.css'%}">
    <title>My Basic Webpage</title>

</head>
<body>
    <h1>THIS IS MY FIRST PROJECT</h1>
    <p></p>

    <div id = "container">
        <img src="{% static 'image/on.jpg' %}"alt="No image">
        <form action = "">
            {% csrf_token %}
            <input type = "Submit" value = "Off Bulb" id ="btn">
        </form>

    </div>
</body>
</html>
